:root {
    --primary-color: var(--dark-mode);
    --secondary-color: var(--light-mode);
    --primary-font: var(--dark-mode-text);
    --secondary-font: var(--light-mode-text);
    --dark-mode: rgb(0, 0, 0, 0.25);
    --light-mode: rgb(255, 255, 255, 0.5);
    --dark-mode-text: white;
    --light-mode-text: black;
}

/* Styles */

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(/img/wallpaper.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    z-index: 1;
    flex: 1;
    #logo {
        img {
            padding: 35px;
            width: 250px;
            display: inline-block;
        }
    }
    #profile img {
        margin: 35px;
        width: 50px;
        border-radius: 25px;
        
    }
}

main {
    max-width: 75%;
    margin: auto;
    padding: 2.5em ;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
    
/* Default styles */

.acrylic {
    background-color: var(--primary-color);
    backdrop-filter: blur(15px);
    color: var(--primary-font);
    padding: 1em;
    border-radius: 25px;
    margin-block: 1em;
    box-shadow: -2px 2px 6px -2px black;
}

/* Modules */

#quicklaunch {
    font-size: 2em;
    #bookmarks {
        padding-block: 1em;
        display: flex;
        gap: 25px;
        flex-wrap: wrap;
        a {
            padding: 10px;
            border-radius: 50px;
            text-decoration: none;
            width: 75px;
            height: 75px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            box-shadow: inset 0 0 5px -2px black;
            transition: box-shadow 500ms;
            align-items: center; 
            p {
                margin: 0;
                font-size: 0.5em;
                color: var(--light-mode-text);
                padding-top: 10px;
            }
            img {
                width: 50px;
                height: 50px;
            }
        } a:hover {
            box-shadow: inset 0 0 10px 0px black;
        }
        #addBookmark:hover {
            cursor: pointer;
        }
        
    }
}

#apptray {
    display: flex;
    a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--dark-mode-text);
        width: 30%;
        box-shadow: inset 0 0 5px -2px black;
        transition: box-shadow 500ms;
        margin: 5px;
        border-radius: 15px;
        img {
            width: 75px;
        }
        p {
            padding-left: 25px;
            font-size: 2em;
        }
    }
    a:hover {
        box-shadow: inset 0 0 10px 0px black;
    }
}

#searchbar {
    width: 400px;
    background-color: var(--primary-color);
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 0.5em;
    border: none;
    outline: none;
}

/* Reset */

body, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-size: 1em;
}